* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}

.firstSectionContainer {
  background: url(../images/firstSection/banner_background.webp);
  background-size: contain;
  position: relative;
  min-height: 824px;
  .firstSection {
    background: url(../images/firstSection/banner_image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 824px;
    .headerSection {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        position: relative;
        flex-direction: column;
      }
      .leftHeaderSection {
        img {
          cursor: pointer;
          margin-left: 57px;
          margin-top: 57px;
          @media screen and (max-width: 1024px) {
            margin-left: 0;
          }
        }
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
      .rightHeaderSection {
        margin-right: 57px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1024px) {
          margin-right: 0;
          align-items: center;
        }
        .contactInformation {
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          font-size: 17px;
          color: #ffffff;
          font-weight: 700;
          font-family: "Montserrat";
          text-align: right;
          img {
            margin-right: 21px;
          }
          .phoneNumber {
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
          }
          @media screen and (max-width: 550px) {
            flex-direction: column;
            span {
              display: none;
            }
          }
        }
        .menuSection {
          margin-top: 12px;
          color: #ffffff;
          ul {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 550px) {
              flex-direction: column;
              align-items: center;
            }
            li {
              font-size: 17px;
              letter-spacing: 3px;
              text-transform: uppercase;
              color: #ffffff;
              font-weight: 700;
              cursor: pointer;
              font-family: "Playfair Display";
              margin-left: 3rem;
              list-style: none;
              padding: 0.1rem;
              transition: all 0.2s ease-in;
              @media screen and (max-width: 550px) {
                margin-left: 0;
              }
            }
            li:hover {
              transition: all 0.2s ease-in;
              background-color: #ffffff;
              color: #000;
            }
          }
        }
      }
    }
    .bannerContent {
      max-width: 100%;
      min-height: 824px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
      .titlePart {
        margin-left: 8rem;
        align-self: center;
        @media screen and (max-width: 1024px) {
          margin-top: 5rem;
          margin-left: 0;
        }
        img {
          width: 531px;
          min-height: 255px;
          @media screen and (max-width: 720px) {
            width: 20rem;
            min-height: 10rem;
          }
        }
      }
      .foodPart {
        align-self: center;
        min-height: 634px;
        margin-top: 8rem;
        margin-right: 7rem;
        @media screen and (max-width: 1024px) {
          margin: 0;
        }
        img {
          max-width: 100%;
          filter: drop-shadow(47.543px 63.092px 45px rgba(0, 0, 0, 0.76));
        }
      }
    }
  }
  .cornBowl {
    position: absolute;
    left: 10rem;
    bottom: -8rem;
    @media screen and (max-width: 1024px) {
      width: 10rem;
      left: 2rem;
      bottom: -5rem;
    }
  }
}

.secondSectionContainer {
  display: flex;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 514px;
  .storyPart {
    display: flex;
    max-width: 100%;
    width: 86rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
    .storyTitle {
      display: flex;
      flex-direction: column;
      width: 24rem;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
      }
      span:first-child {
        font-size: 3rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #3d3d3d;
        font-weight: 700;
        font-family: "Playfair Display";
        @media screen and (max-width: 1024px) {
          font-size: 2rem;
        }
      }
      span:last-child {
        font-size: 6rem;
        letter-spacing: 6px;
        line-height: 4rem;
        color: #355c9e;
        font-weight: 700;
        font-family: "Playfair Display";
        @media screen and (max-width: 1024px) {
          font-size: 5rem;
        }
      }
    }
    .storyDescription {
      display: flex;
      flex-direction: column;
      margin-left: 5rem;
      @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
      }
      position: relative;
      .descriptionText {
        font-size: 1.4rem;
        word-wrap: break-word;
        margin-bottom: 2rem;
        line-height: 33px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: "Playfair Display";
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }
      .readMoreText {
        cursor: pointer;
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 33px;
        text-transform: uppercase;
        color: #355c9e;
        font-weight: 700;
        font-family: "Playfair Display";
      }
      img {
        position: absolute;
        right: -2rem;
        bottom: -5rem;
        @media screen and (max-width: 1455px) {
          right: 0;
        }
      }
    }
  }
}

.discoverSection {
  position: relative;
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/thirdSection/foodBackground.webp");
  @media screen and (max-width: 1024px) {
    height: 18rem;
  }
  .bellPepper {
    z-index: 1;
    width: auto;
    position: absolute;
    filter: drop-shadow(47.543px 63.092px 45px rgba(0, 0, 0, 0.76));
    top: -5rem;
    left: 25rem;
    @media screen and (max-width: 1024px) {
      top: -5rem;
      left: 2rem;
    }
  }
  .discoverText {
    position: absolute;
    text-align: center;
    transform: translate(50%, -50%);
    right: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .discoverMenu {
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-family: "Playfair Display";
      @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
        top: 2rem;
        left: 8rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 1.5rem;
      }
    }
    .discoverMenuDescription {
      max-width: 55rem;
      min-height: 6rem;
      margin-top: 2rem;
      font-size: 1.3rem;
      color: #ffffff;
      font-weight: 400;
      font-family: "Playfair Display";
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
    }
  }
}

.thirdSectionContainer {
  height: 40rem;
  @media screen and (max-width: 1440px) {
    height: 30rem;
  }
  .sliderSection {
    position: relative;
    margin-top: 10rem;
    @media screen and (max-width: 1440px) {
      margin-top: 0;
    }
    .slickSlider {
      .slick-track {
        display: flex;
        align-items: center;
      }
      .slick-slide {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .slick-current + span {
        img {
          height: 425px;
          transition: 0.5s ease-in-out;
          @media screen and (max-width: 1440px) {
            height: auto;
          }
        }
        .itemName {
          margin-top: 3.5rem;
          font-size: 33px;
          letter-spacing: 5px;
          line-height: 33px;
          text-transform: uppercase;
          color: #434343;
          font-weight: 700;
          font-family: "Playfair Display";
        }
      }
      .foodItem {
        img {
          width: fit-content;
          transition: 0.5s ease-in-out;
          height: 302px;
        }
        .itemName {
          font-size: 21px;
          letter-spacing: 3px;
          line-height: 33px;
          margin-top: 2rem;
          text-transform: uppercase;
          color: #434343;
          font-weight: 700;
          font-family: "Playfair Display";
        }
      }
    }
    .previousBtn {
      left: 35%;
      transform: translate(-50%, -50%);
    }
    .nextBtn {
      left: 65%;
      transform: translate(-50%, -50%);
    }
    .navIcons {
      cursor: pointer;
      transition: 0.2s ease-in;
      position: absolute;
      font-size: 40px;
      top: 50%;
      @media screen and (max-width: 1440px) {
        top: 80%;
      }
    }
    .navIcons:hover {
      font-size: 45px;
      transition: 0.2s ease-in;
    }
  }
}

.eventsSliderSection {
  padding: 4rem;
  .eventSlider {
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
    .eventCard {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem 3rem 0 3rem;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
      }
      .eventInfo {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        flex: 50%;
        .subTitle {
          font-size: 1.8rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #3d3d3d;
          font-weight: 700;
          font-family: "Playfair Display";
          @media screen and (max-width: 800px) {
          }
        }
        .title {
          font-size: 4rem;
          color: #355c9e;
          font-weight: 700;
          font-family: "Playfair Display";
          @media screen and (max-width: 800px) {
            font-size: 2rem;
          }
        }
        .description {
          margin-top: 4rem;
          margin-right: 2rem;
          font-size: 1.3rem;
          max-width: 33rem;
          line-height: 33px;
          color: #3d3d3d;
          font-weight: 400;
          font-family: "Playfair Display";
          @media screen and (max-width: 800px) {
            font-size: 1rem;
            margin-bottom: 2rem;
          }
          @media screen and (max-width: 1200px) {
            padding-bottom: 2rem;
          }
        }
      }
      img {
        flex: 50%;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
    list-style-type: none;
    @media screen and (max-width: 1200px) {
      padding-bottom: 2rem;
      padding-left: 0.8rem;
    }
    li {
      margin: 0 0.25rem;
    }

    button {
      cursor: pointer;
      display: block;
      width: 1rem;
      height: 1rem;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: #dcdcdc;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: #355c9e;
    }
  }
}

.bookingSection {
  position: relative;
  margin-top: 5rem;
  @media screen and (max-width: 1250px) {
    margin-top: 2rem;
  }
  .bookingTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span:first-child {
      font-size: 1.8rem;
      letter-spacing: 2px;
      line-height: 46px;
      text-transform: uppercase;
      color: #3d3d3d;
      font-weight: 700;
      font-family: "Playfair Display";
      @media screen and (max-width: 530px) {
        font-size: 1.2rem;
      }
    }
    span:last-child {
      font-size: 4rem;
      letter-spacing: 4px;
      line-height: 46px;
      color: #355c9e;
      font-weight: 700;
      font-family: "Playfair Display";
      @media screen and (max-width: 530px) {
        font-size: 2rem;
      }
    }
  }
  .formSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 67px;
    padding-bottom: 4rem;
    .formLeft {
      margin-right: 25px;
    }
    @media screen and (max-width: 1250px) {
      flex-direction: column;
      align-items: center;
      .formLeft {
        margin-right: 0;
      }
    }
    .formRight {
      position: relative;
      img {
        position: absolute;
        top: -5rem;
        right: -14rem;
        @media screen and (max-width: 1250px) {
          display: none;
        }
      }
    }
    .textbox {
      resize: none;
      input {
        width: 379px;
        height: 65px;
        padding-left: 20px;
        font-size: 21px;
        margin-bottom: 25px;
        border-radius: 5px;
        background-color: rgba(235, 174, 76, 0);
        font-family: "Playfair Display";
        border: 1px solid #bebebe;
      }
    }
    .textbox input::placeholder {
      position: absolute;
      top: 15px;
      left: 20px;
      font-size: 21px;
      color: #3d3d3d;
      font-weight: 400;
      font-family: "Playfair Display";
    }

    .buttonBox button {
      width: 379px;
      height: 65px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #355c9e;
      font-size: 21px;
      line-height: 46px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      transition: 0.2s ease-in-out;
      font-family: "Playfair Display";
    }
    .buttonBox button:hover {
      transition: 0.2s ease-in-out;
      background-color: #ffffff;
      color: #3d3d3d;
    }
  }
  img {
    position: absolute;
    bottom: -15rem;
    @media screen and (max-width: 902px) {
      width: 14rem;
      bottom: -10rem;
    }
  }
}

.footerSectionContainer {
  .footerContent {
    display: flex;
    flex-direction: column;
    background: url(../images/footerSection/footerBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 66px 57px 66px 57px;
    min-height: 700px;
    @media screen and (max-width: 1024px) {
      margin: 0;
    }
    .footerMiddleSection {
      display: flex;
      flex: 60%;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin-left: 45px;
      margin-right: 45px;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-top: 8rem;
      }
      .footerLeftSection {
        img {
          cursor: pointer;
        }
      }
      .footerRightSection {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 500px) {
          text-align: center;
        }
        span:first-child {
          font-size: 21px;
          line-min-height: 38px;
          color: #ffffff;
          font-weight: 400;
          font-family: "Playfair Display";
        }
        span:last-child a {
          text-decoration: none;
          font-size: 21px;
          line-min-height: 38px;
          color: #ffffff;
          font-weight: 400;
          font-family: "Playfair Display";
        }
      }
    }
    .footerBottomSection {
      display: flex;
      flex: 40%;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin: 0px 30px 27px 30px;
      @media screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      span:first-child {
        font-size: 17px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Playfair Display";
      }
      .socialIcons {
        span {
          padding: 5px;
          cursor: pointer;
          border-radius: 50px;
          color: #000;
          background-color: #ffffff;
        }
      }
    }
  }
}
